{% extends 'base.html' %}
{% load static %}



{% block dashboard %}

<script type="text/javascript" src="{% static 'gui_dashboard.js' %}"></script>

<style type="text/css">

.panel-heading{

    padding: 31.3% 15px;

}
.panel-heading.panel-heading-half-height{
    padding: 7.2% 15px;
}
#putdown{
    padding-top: 2.5%;
}
#temp{
    font-size: 150px;
}
.title-font-size{
    font-size: 70px;
    color: gray;
}
#temp_date{
    font-size: 30px;
}
.panel-red .panel-heading{
    background-color: gray;
}
.panel-primary>.panel-heading{
    background-color: gray;
}
.panel-green .panel-heading{
    background-color: {{last_temp_color}};
}
.online-color{
    color: green;
}
.offline-color{
    color: red;
}
body{
    font-size: 35px;s
    color: gray;
}
</style>
 
     <div id="body_dashboard">
        <input type='hidden' id="local_pk" value='{{local_pk}}'></input>
        <input type='hidden' id="time_now" value='{{time_now}}'></input>
        <input type='hidden' id="horn" value='{{horn}}'></input>
        <input type='hidden' id="play_horn" value='{{play_horn}}'></input>
        <div id ="putdown">
            
            <div class="text-center title-font-size"><i class="fa fa-circle fa-1x {{status_color}}"></i> {{local_name}}
            </div>
            <div class="col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-info fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Última Temperatura Aferida</div>
                                <div class="huge" id="temp" >{{last_temp}}</div>
                                <span id="temp_date">{{last_temp_date}}</span>

                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading panel-heading-half-height">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-fire fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Máxima Registrada</div>
                                <div class="huge" id="temp">{{max_temp}}</div>
                                <span id="temp_date">{{max_temp_date}}</span>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-half-height">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cube fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Mínima Registrada</div>
                                <div class="huge" id="temp">{{min_temp}}</div>
                                <span id="temp_date">{{min_temp_date}}</span>
                            </div>
                                
                            
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>

{% endblock %}

