{% extends 'base.html' %}
{% load static %}
{% load current from navigation %}



{% block style %}
	<link href="{% static "navbar-static-top.css" %}" rel="stylesheet">
{% endblock %}

{% block nav-bar %}
    
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'core:home' %}"><i class=""></i>Thermo Genomika TESTE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li class="{% current 'core:charts' '' %}"><a href="{% url 'core:charts' %}">Thermo Info</a></li>
          <li class="{% current 'checklist:checklist' '' %}"><a href="{% url 'checklist:checklist' %}">Auditoria</a></li>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="{% current 'reports:report' '' %}"><a href="{% url 'reports:report' %}">Relatório Completo</a></li>
                <li role="separator" class="divider"></li>
                <li class="{% current 'reports:audited_report' '' %}"><a href="{% url 'reports:audited_report' %}">Relatório Auditado</a></li>
              </ul>
            </li>
          </ul>



          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'account:password' %}">Mudar Senha</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'account:logout' %}">Sair</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
   </nav>
   <div class='container'>
    {% for message in messages %}
      <div class="alert alert-{{message.tags}}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <center><strong>{{message}}</strong></center>
      </div>
    {% endfor %}
   	{% block content %}

  


   	{% endblock %}
   </div>

{% endblock %}

