{% load static %}
<style type="text/css">

.panel-green .panel-heading{
    background-color: {{last_temp_color}};
}

</style>
        <input type='hidden' id="local_pk" value='{{local_pk}}'></input>
        <input type='hidden' id="bk_color" value='{{last_temp_color}}'></input>
        <div id ="putdown">
            <div class="text-center title-font-size">{{local_name}}</div>
            <div class="col-md-6">
                <div class="panel panel-green" id="{{last_temp_color}}">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-info fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Última Temperatura Aferida</div>
                                <div class="huge" id="temp" >{{last_temp}}</div>
                                <span id="temp_date">{{last_temp_date}}</span>

                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading panel-heading-half-height">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-fire fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Máxima Registrada</div>
                                <div class="huge" id="temp">{{max_temp}}</div>
                                <span id="temp_date">{{max_temp_date}}</span>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading panel-heading-half-height">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cube fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Mínima Registrada</div>
                                <div class="huge" id="temp">{{min_temp}}</div>
                                <span id="temp_date">{{min_temp_date}}</span>
                            </div>
                                
                            
                            </div>
                        </div>
                    </div>

                </div>
            </div>